<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopAdvisor"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.SoldProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.MyOrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.CheckOutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.AddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.AddEditAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.CartListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.DashBoardActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.LogInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>